Repository PM-Dungeon/dungeon-starter, pull requests merged in 2022-04, with the labels that each got.

#63 translated quickstart_de -> quickstart_en
  documentation/quickstart_en.md
Labels: documentation, enhancement

#77 Whitespace: fix errors
  documentation/quickstart_de.md
Labels: bug

#83 fix quickstart
  code/build.gradle
  documentation/figs/simple_uml.png
  documentation/figs/simple_uml.uxf
  documentation/quickstart_de.md
  documentation/quickstart_en.md
Labels: bug, documentation, enhancement

#96 Fix #94 added link to compatibility list of jdk versions
  documentation/quickstart_de.md
Labels: documentation, enhancement
