Repository PM-Dungeon/dungeon-starter, pull requests merged in 2022-03, with the labels that each got.

#58 add MyGame zur Vorgabe
  code/build.gradle
  code/desktop/src/desktop/MyGame.java
Labels: enhancement

#59 rework quickstart
  documentation/quickstart_de.md
Labels: documentation

#60 Update UML
  documentation/figs/simple_uml.png
  documentation/figs/simple_uml.uxf
Labels: documentation

#57 Add constant window title and 32px logo
  code/assets/logo/logo128x128.png
  code/assets/logo/logo16x16.png
  code/assets/logo/logo32x32.png
  code/desktop/src/desktop/DesktopLauncher.java
Labels: enhancement

#62 Add figs to quickstart_de.md
  documentation/figs/pm-dungeon_hud_icons.png
  documentation/figs/pm-dungeon_level_unknown.png
  documentation/figs/pm-dungeon_myhero.png
  documentation/figs/pm-dungeon_start.png
  documentation/figs/pm-dungeon_wasd.png
  documentation/quickstart_de.md
Labels: documentation, enhancement
